body {
    margin: 40px;
  }
  
  h1 {
    text-align: center;
  }
  
  #bookContainer {
    margin-top: 20px;
  }
  
  .book {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }